PORT=4444
SECRET_KEY="Your_secret_key"
CLOUD_NAME="Your_Cloud_name_of_cloudinary"
API_KEY="API_KEY_for_cloudinary"
API_SECRET="API_Secret_for_cloudinary"
MONGO_URI="your_mongodb_string"
FRONTEND_URL="http://localhost:5173"